<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.josuelassey.testuser">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_users"
        android:label="@string/app_name2"
        android:roundIcon="@drawable/logo_users"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.DetailsPostUser"></activity>
        <activity android:name=".activities.DetailsPostUSer" />
        <activity
            android:name=".activities.PostUser"
            android:label="@string/post_user" />
        <activity
            android:name=".activities.ListUser"
            android:label="@string/list_user" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>